<!DOCTYPE html>
<html ng-app="app">

<head>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="assets/smart-table/dist/smart-table.min.js"></script>
    <script src="assets/angular/angular-route.min.js"></script>
    <script src="assets/angular/angular-resource.min.js"></script>
    <script src="assets/angular/angular-cookies.min.js"></script>

    <script src="assets/angular-translate/angular-translate.min.js"></script>
    <script src="assets/angular-translate/angular-translate-storage-cookie.min.js"></script>
    <script src="assets/angular-translate/angular-translate-loader-static-files.min.js"></script>
    <script src="assets/angular-translate/tmhDynamicLocale.js"></script>
    <script src="app.js"></script>
    <style>
        .cell-datetime.active{
            color: #428bca;
        }

        .st-sort-ascent,.st-sort-descent{
            color: #428bca;
        }
        .table-header th{
            cursor: pointer;
        }
        .st-sort-ascent:before {
            content: '\25B2';
        }
        .st-sort-descent:before {
            content: '\25BC';
        }
    </style>
    <style class="style-for-table"></style>
</head>

<body>
<div class="container">
    <h1>Smart-table with pagination, filtering, sorting</h1>


    <div  ng-controller="LocaleCtrl">
        <!-- CHANGE LANGUAGE -->
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
                Language ({{model.selectedLocale}})
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="(key, value) in availableLocales">
                    <a href="#" ng-click="changeLocale(key)">
                        <img ng-src="assets/img/flag_icons/{{key | limitTo:2:3}}.png" />
                        {{value}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>


    <form ng-controller="TableCtrl">

        <table class="table table-bordered table-striped smart-table" st-table="items" st-pipe="callServer">
            <thead>
            <tr class="table-header">
                <th colspan="7"><button class="pull-right btn btn-xs" ng-click="refreshFilter();"><span class="glyphicon glyphicon-refresh"></span> {{ 'Reset filter' | translate }}</button></th>
            </tr>

            <!-- HEADERS -->
            <tr class="table-header">
                <th class="cell-id" class-for-filer="cell-id" style="width: 100px" st-sort="id">ID</th>
                <th class="cell-country" class-for-filer="cell-country" style="width: 200px" st-sort="country">{{ 'Country' | translate }}</th>
                <th class="cell-city" class-for-filer="cell-city" style="width: 120px" st-sort="city">{{ 'City' | translate }}</th>
                <th class="cell-street" class-for-filer="cell-street" st-sort="street">{{ 'Street' | translate }}</th>
                <th class="cell-house" class-for-filer="cell-house" style="width: 185px" st-sort="house">{{ 'House' | translate }}</th>
                <th class="cell-postcode" class-for-filer="cell-postcode" style="width: 100px" st-sort="postcode">{{ 'Postcode' | translate }}</th>
                <th class="cell-datetime" class-for-filer="cell-datetime" style="width: 300px" st-sort="datetime">{{ 'Date' | translate }}</th>
            </tr>
            <tr class="smart-table-filers">
                <th class="cell-id"><input st-search="id" class-for-filer="cell-id" class="input-sm form-control" type="search"/></th>
                <th class="cell-country"><input st-search="country" class-for-filer="cell-country" class="input-sm form-control" type="search"/></th>
                <th class="cell-city"><input st-search="city" class-for-filer="cell-city" class="input-sm form-control" type="search"/></th>
                <th class="cell-street"><input st-search="street" class-for-filer="cell-street" class="input-sm form-control" type="search"/></th>
                <th class="cell-house"><st-number-range predicate="house" lower="query.lower" higher="query.higher"></st-number-range></th>
                <th class="cell-postcode"><input st-search="postcode" class-for-filer="cell-postcode" class="input-sm form-control" type="search"/></th>
                <th class="cell-datetime"><st-date-range predicate="datetime" before="query.before" after="query.after"></st-date-range></th>

            </tr>
            </thead>
            <!-- CONTENT -->
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in items">
                <td class="cell-id">{{row.id}}</td>
                <td class="cell-country">{{row.country}}</td>
                <td class="cell-city">{{row.city}}</td>
                <td class="cell-street">{{row.street}}</td>
                <td class="cell-house">{{row.house}}</td>
                <td class="cell-postcode">{{row.postcode}}</td>
                <td class="cell-datetime">{{row.datetime}}</td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="7" class="text-center">{{ 'Loading' | translate }} ... </td>
            </tr>
            </tbody>
            <tbody ng-show="isNotFound">
            <tr>
                <td colspan="7" class="text-center">{{ 'Not found' | translate }}</td>
            </tr>
            <tbody ng-show="isServerError">
            <tr>
                <td colspan="7" class="text-center">{{ 'Error' | translate }}: {{serverMessage}}</td>
            </tr>
            </tbody>
            <!-- PAGINATION -->
            <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div
                            st-template="view/pagination.html"
                            st-pagination=""
                            st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

</body>

</html>
